body {
  font-family: Arial, sans-serif;
  padding: 6rem 2rem 2rem;
  background-color: #f4f4f4;
  margin: 2rem;
}
h1 {
  margin-bottom: 1rem;
  color: #333;
}
section {
  margin-bottom: 2rem;
}
code {
  background-color: #eaeaea;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}
.method {
  font-weight: bold;
  margin-top: 1rem;
  color: #0074d9;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  margin-bottom: 0.5rem;
}

form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
textarea,
select,
button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}
